@font-face {
    font-family: IRKharazmi;
    src: url(../fonts/IRAN\ Kharazmi.woff);
}

/* font for all*/
#main_box {
    font-family: IRKharazmi;
}

#main_map {
    font-family: IRKharazmi;
}


@font-face {
    font-family: IRKharazmi;
    src: url(../fonts/IRAN\ Kharazmi.woff);
}

.active, a:hover {
    color: rgb(156, 135, 0) !important;
}

li > a {
    color: black !important;
}

.nav-bg {
    background-color: rgb(255, 221, 167);
}

#top-nav {
    font-family: IRKharazmi;
    border-color: rgb(117, 97, 0) !important;
}


button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 0.1em 0.7em;
    background: #fdf0e7;
    border: 2px solid #b19c85;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dbd699;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b99d70, 0 0.025em 0 0 #fff0cf;
    transform: translate3d(0, 0.75em, -0.5em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #ebe0cd;
}

button.learn-more:active {
    background: #efeae5;
    transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
    box-shadow: 0 0 0 2px #dad1c4, 0 0 #ffeae2;
    transform: translate3d(0, 0, -1em);
}


.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding: 0;
    border-radius: 0px;
}

.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.col-form-label {
    color: #000;
}

.btn, .form-control, .custom-select {
    height: 50px;
}

.custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.heading {
    color: #888;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-weight: 400;
}

.btn {
    border: none;
    border-radius: 0;
}

.btn.btn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

.btn:hover {
    color: #fff;
}

.btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
}

.box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

label.error {
    font-size: 12px;
    color: red;
}

#message {
    resize: vertical;
}

#form-message-warning, #form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

/* shiny cursor*/

/*@media (min-width: 768px) {*/
/*    .main {*/
/*        padding-right: 40px;*/
/*        padding-left: 220px; !* 180 + 40 *!*/
/*    }*/
/*}*/

/* Sidebar */
.sidebarRTL {

    background-color: rgb(250, 244, 234) !important;
}

.toggleButtonColor {
    background-color: #b99d70 !important;
}