{% extends "base.html" %}
{% block title %}سابقه سفارشات{% endblock title %}
{% block style %}
<link rel="stylesheet" href="../static/css/dashboard.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/sidebar.css">
<script src="https://kit.fontawesome.com/ce49529736.js" crossorigin="anonymous"></script>
<style>
    .centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>

{% endblock style %}
<!-- Image Slider -->
{% block content %}


<div class="wrapper d-flex align-items-stretch" dir="ltr">

    <nav id="sidebar" class="order-last">
        <div class="custom-menu ">
            <button type="button" id="sidebarCollapse" class="btn btn-primary toggleButtonColor">
            </button>
        </div>
        <div class="sidebarRTL mb-0 text-right">
            <ul class="sidebarRTL list-unstyled components mb-5" dir="rtl">
                <li>
                    <a id="userEdit" class='' href="/dashboard/"><span class="fa-solid fa-user-pen"></span> تغییر مشخصات
                    </a>

                </li>
                <li>
                    <a id="orders" class="" href="/order_history/"><span class="fa-solid fa-bag-shopping mr-1"></span>
                        لیست سفارشات </a>


                </li>
                <li>
                    <a id="changePass" class="active" href="/change_password/"><span
                            class="fa-solid fa-lock mr-1"></span>
                        تغییر رمزعبور </a>


                </li>
                <div class="mb-0 mr-3 mb-3 position-absolute" style="bottom: 10%">
                    <p class="">
                        <a href="/logout/" class="text-dark" style="font-size: large">خروج <i
                                class="fa-solid fa-right-from-bracket"></i></a>

                    </p>
                </div>
            </ul>
            <!--            logout-->


        </div>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5 text-right" dir="rtl">

        <div class="container-fluid">
            <div class="card text-center bg-light">
                <div class="card-header">
                    <h4>تغییر پسورد</h4>
                </div>
                <!--                change password-->
                <div class="card-body">

                    <form id="changeForm" class="form-group centered">
                        <div class="col-6  has-validation ">
                            <label for="oldPassword">رمز عبور قبلی</label>
                            <input type="password" class="form-control border" id="oldPassword"
                                   onchange="validatepass(this)" placeholder="رمز عبور قبلی را وارد کنید">
                            <div class="invalid-feedback">
                                رمزعبور قبلی را وارد کنید
                            </div>
                        </div>
                        <div class="col-6 text-center has-validation">
                            <label for="newPassword">رمز عبور جدید</label>
                            <input type="password" class="form-control border" id="newPassword"
                                   onchange="validatepass(this)" placeholder="رمز عبور جدید را وارد کنید">
                            <div class="invalid-feedback">
                                رمز عبور باید حداقل ۸ کاراکتر و شامل حروف خاص، بزرگ و کوچک و اعداد باشد.
                            </div>
                        </div>
                    </form>
                    <button id="change" class="learn-more">تغییر رمز عبور</button>

                </div>
            </div>
        </div>


        {% endblock content %}

        {% block script %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/validators.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            // change password
            $(document).ready(function () {
                $("#change").click(function () {
                    event.preventDefault();
                    let oldPassword = $("#oldPassword").val();
                    let newPassword = $("#newPassword").val();
                    if (oldPassword === "" || newPassword === "") {
                        swal.fire({
                            buttonsStyling: false,
                            customClass: {
                                confirmButton: 'learn-more'


                            },
                            icon: 'warning',
                            title: 'لطفا فیلد ها را پر کنید',
                            text: data['err'],
                            confirmButtonColor: '#fff0cf',
                            confirmButtonText: 'باشه'

                        })
                    } else {
                        $.ajax({
                            url: "/change_password/",
                            type: "POST",
                            data: {
                                oldPassword: oldPassword,
                                newPassword: newPassword

                            },
                            success: function (response) {
                                if (response === "success") {
                                    swal.fire({
                                        buttonsStyling: false,
                                        customClass: {
                                            confirmButton: 'learn-more'
                                        },
                                        title: 'رمز عبور با موفقیت تغییر کرد',
                                        confirmButtonColor: '#fff0cf',
                                        confirmButtonText: 'باشه'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = "/dashboard/";
                                        }
                                    })

                                } else {
                                    swal.fire({
                                        buttonsStyling: false,
                                        customClass: {
                                            confirmButton: 'learn-more'
                                        },
                                        title: response['err'],
                                        confirmButtonColor: '#fff0cf',
                                        confirmButtonText: 'باشه'
                                    })
                                    //     .then((result) => {
                                    //     if (result.isConfirmed) {
                                    //         //    reset form
                                    //         $("#changeForm").trigger("reset");
                                    //     }
                                    // })

                                }
                            },
                            error: function () {
                                alert("خطا در ارتباط")
                            }
                        })
                    }
                })
                ;
            });
        </script>


        {% endblock script %}

