{% extends "base.html" %}
{% block title %}ارتباط با ما{% endblock title %}
{% block style %}
<link rel="stylesheet" href="../static/css/contact_us.css">
{% endblock style %}
<!-- Image Slider -->
{% block content %}
    <div id="main_box" class="container-fluid bg-light">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 mt-5">
                <h5 class="thin-heading mx-5 my-2 "> با ما در ارتباط باشید</h5>

                <form class="mb-5 mx-5" method="post" id="contactForm" name="contactForm">
                    <div class="row">
                        <div class="col-md-6 form-group ">
                            <input id="contactName" type="text" class="form-control" name="name" placeholder="نام">

                        </div>
                        <div class="col-md-6 form-group ">
                            <input id="contactEmail" type="text" class="form-control" name="email" placeholder="ایمیل">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <textarea id="contactText" class="form-control" name="message" cols="30" rows="2"
                                placeholder="پیام خود را اینجا بنوسید"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button id="contactSubmit" type="submit" class="learn-more">ارسال پیام</button>
                            <span class="submitting"></span>
                        </div>
                    </div>
                </form>

                <div id="form-message-warning mt-4"></div>
                <div id="form-message-success">
                    پیام شما با موفقیت ارسال شد!
                </div>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 border-start">
                <!--      phone, address, email      -->

                <p class="text-center mt-5"><span class="fa-solid fa-phone"></span> ایمیل: شماره تماس:02101234567</p>
                <p class="text-center mt-5"><span class="fa-solid fa-envelope"></span> ایمیل: contactus@tornado.com</p>
                <p class="text-center mt-5"><span class="fa-solid fa-location-dot"> </span> خیابان اول کوچه سوم. کوچه
                    پنجم.
                    پلاک هزار. طبقه نهم </p>
                <div class="text-center my-5">
                    <button class="text-center learn-more " id="showMap">نمایش مکان روی نقشه</button>
                </div>


            </div>
            <!--contact us form -->


        </div>

    </div>

    <div id="main_map" class="container-fluid bg-light">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <iframe src="https://balad.ir/embed?p=75mv6ghp8HLoqt" title="مشاهده «مکتب شریف» روی نقشه بلد"
                    width="900" height="201" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="True"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
    {% endblock content %}

{% block script %}
    <!--toggle map-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/contactus.js"></script>
    <script src="https://kit.fontawesome.com/ce49529736.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // give this value to app.py with ajax

        $('#contactSubmit').click(function () {
            event.preventDefault();
            $.ajax({
                url: 'http://127.0.0.1:5005/contact',
                type: 'POST',
                data: {
                    "contactName": $('#contactName').val(),
                    "contactEmail": $('#contactEmail').val(),
                    "contactText": $('#contactText').val()
                },
                // if success alert something from flask flash
                success: function (data) {
                    if (data['success'] === true) {
                        swal.fire({
                            buttonsStyling: false,
                            customClass: {
                                confirmButton: 'learn-more'


                            },
                            title: 'پیام شما با موفقیت ارسال شد!',
                            confirmButtonText: 'باشه'
                        })

                        document.getElementById("contactForm").reset();

                    } else {
                        swal.fire({
                            buttonsStyling: false,
                            customClass: {
                                confirmButton: 'learn-more'


                            },

                            title: 'پیام شما ارسال نشد',
                            text: data['err'],
                            confirmButtonColor: '#fff0cf',
                            confirmButtonText: 'باشه'

                        })
                    }
                },
                error: function () {
                    alert("خطا در ارتباط")
                }
            });
        });

    </script>
{% endblock script %}