{% extends "base.html" %}
{% block title %}ناحیه کاربری{% endblock title %}
{% block style %}
<link rel="stylesheet" href="../static/css/dashboard.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/sidebar.css">
<script src="https://kit.fontawesome.com/ce49529736.js" crossorigin="anonymous"></script>
{% endblock style %}
<!-- Image Slider -->
{% block content %}


<div class="wrapper d-flex align-items-stretch" dir="ltr">

    <nav id="sidebar" class="order-last">
        <div class="custom-menu ">
            <button type="button" id="sidebarCollapse" class="btn btn-primary toggleButtonColor">
            </button>
        </div>
        <div class="sidebarRTL mb-0 text-right">
            <ul class="sidebarRTL list-unstyled components mb-5" dir="rtl">
                <li>
                    <a id="userEdit" class='active' href="/dashboard/"><span class="fa-solid fa-user-pen "></span> تغییر
                        مشخصات </a>

                </li>
                <li>
                    <a id="orders" class="" href="/order_history/"><span class="fa-solid fa-bag-shopping mr-1"></span>
                        لیست سفارشات </a>


                </li>
                <li>
                    <a id="changePass" class="" href="/change_password/"><span class="fa-solid fa-lock mr-1"></span>
                        تغییر رمزعبور </a>


                </li>
                <div class="mb-0 mr-3 mb-3 position-absolute" style="bottom: 15%">
                    <p class="">
                        <a href="/logout/" class="text-dark" style="font-size: large">خروج <i
                                class="fa-solid fa-right-from-bracket"></i></a>

                    </p>
                </div>
            </ul>


        </div>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5 text-right" dir="rtl">

        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <h3>تغییر مشخصات</h3>
                </div>

                <!--                if last of the url ?ordr sho this:-->

                <div class="card-body">
                    <form method="post">
                        <div class="col-12">
                            <form onsubmit="editUser()">
                                <div class="row mx-1 my-1">
                                    <div class="col-6">
                                        <label class="form-label mt-1">نام</label>
                                        <input type="text" class="form-control border" id="nameUser" name="nameUser"
                                               value={{current_user.name}}>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label mt-1">نام خانوادگی</label>
                                        <input type="text" class="form-control border" id="familyUser" name="nameUser"
                                               value={{current_user.family}}>
                                    </div>


                                </div>
                                <div class="col-12">
                                    <label for="addressUser" class="form-label mt-1">آدرس</label>
                                    <textarea type="text" class="form-control border" id="addressUser" name="nameUser">{{current_user.address}}</textarea>
                                </div>
                                <div class="row mx-1 my-1">
                                    <div class="col-6">
                                        <label class="form-label mt-1">نام کاربری</label>
                                        <input type="text" class="form-control border" id="subsCode" name="nameUser"
                                               value={{current_user.phone}} readonly>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label mt-1">تاریخ ثبت‌نام</label>
                                        <input type="text" class="form-control border" id="createdTime" name="nameUser"
                                               value={{current_user.created_at}} readonly>
                                    </div>
                                </div>
                                <div class="row mx-1 my-1">
                                    {% if current_user.extra %}
                                    <div class="col-6">
                                        <label for="emailUser" class="form-label mt-1">ایمیل</label>
                                        <input type="text" class="form-control border" id="emailUser" name="nameUser"
                                               value={{current_user.extra.email}}>
                                    </div>
                                    {%else%}
                                    <div class="col-6">
                                        <label for="emailUser" class="form-label mt-1">ایمیل</label>
                                        <input type="text" class="form-control border" id="emailUser" name="nameUser">
                                    </div>
                                    {% endif %}
                                    {% if current_user.extra %}
                                    <div class="col-6">
                                        <label for="phone2User" class="form-label mt-1">شماره تماس دوم</label>
                                        <input type="text" class="form-control border" id="phone2User" name="nameUser"
                                               value={{current_user.extra.phone}}>
                                    </div>
                                    {%else%}
                                    <div class="col-6">
                                        <label for="phone2User" class="form-label mt-1">شماره تماس دوم</label>
                                        <input type="text" class="form-control border" id="phone2User" name="nameUser">
                                    </div>
                                    {% endif %}

                                </div>

                                {% if current_user.extra %}
                                <div class="col-12">
                                    <label for="address2User" class="form-label mt-1">آدرس دوم</label>
                                    <textarea type="text" class="form-control border" id="address2User"
                                              name="nameUser">{{current_user.extra.address}}</textarea>
                                </div>
                                {%else%}
                                <div class="col-12">
                                    <label for="address2User" class="form-label mt-1">آدرس دوم</label>
                                    <textarea type="text" class="form-control border" id="address2User"
                                              name="nameUser"></textarea>
                                </div>

                                {% endif %}
                                {% if current_user.extra %}
                                <div class="col-12">
                                    <label for="infoUser" class="form-label mt-1">اطلاعات اضافی</label>
                                    <textarea type="text" class="form-control border" id="infoUser"
                                              name="nameUser">{{current_user.extra.info}}</textarea>
                                </div>
                                {%else%}
                                <div class="col-12">
                                    <label for="infoUser" class="form-label mt-1">اطلاعات اضافی</label>
                                    <textarea type="text" class="form-control border" id="infoUser"
                                              name="nameUser"></textarea>
                                </div>

                                {% endif %}


                                <button id="editSubmit" type="Submit" class="learn-more mt-5 mr-3"
                                >
                                    تغییر مشخصات
                                </button>
                            </form>

                        </div>
                        {% endblock content %}

                        {% block script %}

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                                crossorigin="anonymous"></script>
                        <script src="../static/js/main.js"></script>

                        <script>
                            <!--      send data with ajax                      -->
                            $(document).ready(function () {
                                $("#editSubmit").click(function (e) {
                                    e.preventDefault();
                                    let name = $("#nameUser").val();
                                    let family = $("#familyUser").val();
                                    let address = $("#addressUser").val();
                                    let email = $("#emailUser").val();
                                    let phone2 = $("#phone2User").val();
                                    let address2 = $("#address2User").val();
                                    let info = $("#infoUser").val();

                                    $.ajax({
                                        url: "/dashboard",
                                        type: "POST",
                                        data: {
                                            "name": name,
                                            "family": family,
                                            "address": address,
                                            "email": email,
                                            "phone2": phone2,
                                            "address2": address2,
                                            "info": info,

                                        },
                                        success: function (data) {

                                            if (data['success'] === true) {
                                                swal.fire({
                                                    buttonsStyling: false,
                                                    customClass: {
                                                        confirmButton: 'learn-more'
                                                    },
                                                    title: 'تغییرات با موفقیت انجام شد',
                                                    confirmButtonText: 'باشه'
                                                }).then(function (isConfirm) {
                                                    if (isConfirm) {
                                                        location.reload()


                                                    }
                                                })

                                            } else {
                                                document.getElementById("signup").reset();
                                                swal.fire({
                                                    buttonsStyling: false,
                                                    customClass: {
                                                        confirmButton: 'learn-more'


                                                    },
                                                    icon: 'warning',
                                                    title: 'خطا',
                                                    text: data['err'],
                                                    confirmButtonColor: '#fff0cf',
                                                    confirmButtonText: 'باشه'

                                                }).then(function (isConfirm) {
                                                    if (isConfirm) {
                                                        location.reload()
                                                    }
                                                });
                                            }
                                        },
                                        error: function () {
                                            alert("خطا در ارتباط")
                                        }
                                    });
                                });
                            });


                        </script>
                        {% endblock script %}


