{% extends "base.html" %}
{% block title %}صفحه‌ی اصلی{% endblock title %}
{% block style %}
<link rel="stylesheet" href="../static/css/home.css">

{% endblock style %}
<!-- Image Slider -->
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/img/background1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="display-2">تورنادو</h1>
        <h3>کافه تورنادو</h3>
        <button type="button" class="btn btn-outline-light btn-lg">تورنادو</button>
        <button type="button" class="btn btn-secondary btn-lg">تورنادو</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/background2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/img/background3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
{% endblock content %}