{% extends "base.html" %}
{% block style %}
  <link rel="stylesheet" href="../static/css/flip_card.css">
  <style>

    .nav-tabs{
      --bs-nav-link-color: black;
      --bs-nav-link-hover-color:  rgb(156, 135, 0);
      --bs-nav-tabs-link-active-bg: rgb(234, 214, 177);
      --bs-nav-tabs-link-active-border-color:rgb(234, 214, 177);
      --bs-nav-tabs-link-hover-border-color:transparent;
      --bs-nav-link-hover-color:rgb(234, 214, 177);

    }
  </style>
  {% endblock style %}
  {% block title %}منو{% endblock title %}

{% block content %}
  <div class="container-md text-center" style="font-family: IRKharazmi;">
    <h1 class="m-4 p-4 d-inline-block bg-mycolor-light rounded-pill">منوی کافه</h1>

    <div class="nav nav-tabs nav-fill nav-justified" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-cafe-base-tab" data-bs-toggle="tab" data-bs-target="#nav-cafe-base" type="button"
        role="tab" aria-controls="nav-cafe-base" aria-selected="true">بر پایه‌ی قهوه</button>
      <button class="nav-link" id="nav-shake-tab" data-bs-toggle="tab" data-bs-target="#nav-shake" type="button"
        role="tab" aria-controls="nav-shake" aria-selected="false">شیک‌ها</button>
      <button class="nav-link" id="nav-hot-tab" data-bs-toggle="tab" data-bs-target="#nav-hot" type="button"
        role="tab" aria-controls="nav-hot" aria-selected="false">دمنوش‌ها</button>
        <button class="nav-link" id="nav-food-tab" data-bs-toggle="tab" data-bs-target="#nav-food" type="button"
        role="tab" aria-controls="nav-food" aria-selected="false">خوردنی‌ها</button>
    </div>
    <div class="bg-mycolor-light shadow vh-100">
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-cafe-base" role="tabpanel" aria-labelledby="nav-cafe-base-tab" tabindex="0">
          <div class="row pt-3 m-0 g-2">
            {% for item in result %}
              {% if item.category_id == 4 %}
                <div class="flip-card col-sm-4">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="{{ item.picture }}" class="card-img-top" style="border-radius: 5px;">
                      <h6 class="text-bg-secondary mt-2 p-1">{{ item.name }}</h6>
                      <p class="card-text d-none d-sm-block text-dark text-opacity-75">{{ item.price|round(2) }}</p>
                    </div>
                    <div class="flip-card-back">
                      <h3 class="text-bg-secondary mt-2 p-1" >{{ item.name }}</h3>
                      <p class="card-text align-content-center mt-3">{{ item.info }}</p>
                      <p>آماده سازی   {{ item.preparation }}</p>
                      <button type="button" class="align-self-end btn btn-sm btn-block btn-warning" style="margin-top: auto;">ثبت سفارش</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="nav-shake" role="tabpanel" aria-labelledby="nav-shake-tab" tabindex="0">
          <div class="row pt-3 m-0 g-2">
            {% for item in result %}
              {% if item.category_id == 4 %}
                <div class="flip-card col-sm-4">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="{{ item.picture }}" class="card-img-top" style="border-radius: 5px;">
                      <h6 class="text-bg-secondary mt-2 p-1">{{ item.name }}</h6>
                      <p class="card-text d-none d-sm-block text-dark text-opacity-75">{{ item.price|round(2) }}</p>
                    </div>
                    <div class="flip-card-back">
                      <h3 class="text-bg-secondary mt-2 p-1" >{{ item.name }}</h3>
                      <p class="card-text align-content-center mt-3">{{ item.info }}</p>
                      <p>آماده سازی   {{ item.preparation }}</p>
                      <button type="button" class="align-self-end btn btn-sm btn-block btn-warning" style="margin-top: auto;">ثبت سفارش</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="nav-hot" role="tabpanel" aria-labelledby="nav-hot-tab" tabindex="0">
          <div class="row pt-3 m-0 g-2">
            {% for item in result %}
              {% if item.category_id == 4 %}
                <div class="flip-card col-sm-4">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="{{ item.picture }}" class="card-img-top" style="border-radius: 5px;">
                      <h6 class="text-bg-secondary mt-2 p-1">{{ item.name }}</h6>
                      <p class="card-text d-none d-sm-block text-dark text-opacity-75">{{ item.price|round(2) }}</p>
                    </div>
                    <div class="flip-card-back">
                      <h3 class="text-bg-secondary mt-2 p-1" >{{ item.name }}</h3>
                      <p class="card-text align-content-center mt-3">{{ item.info }}</p>
                      <p>آماده سازی   {{ item.preparation }}</p>
                      <button type="button" class="align-self-end btn btn-sm btn-block btn-warning" style="margin-top: auto;">ثبت سفارش</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="nav-food" role="tabpanel" aria-labelledby="nav-hot-tab" tabindex="0">
          <div class="row pt-3 m-0 g-2">
            {% for item in result %}
              {% if item.category_id == 4 %}
                <div class="flip-card col-sm-4">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="{{ item.picture }}" class="card-img-top" style="border-radius: 5px;">
                      <h6 class="text-bg-secondary mt-2 p-1">{{ item.name }}</h6>
                      <p class="card-text d-none d-sm-block text-dark text-opacity-75">{{ item.price|round(2) }}</p>
                    </div>
                    <div class="flip-card-back">
                      <h3 class="text-bg-secondary mt-2 p-1" >{{ item.name }}</h3>
                      <p class="card-text align-content-center mt-3">{{ item.info }}</p>
                      <p>آماده سازی   {{ item.preparation }}</p>
                      <button type="button" class="align-self-end btn btn-sm btn-block btn-warning" style="margin-top: auto;">ثبت سفارش</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock content %}